/*
|---------------------------------------------------------------
| ADMIN SECTION STYLES
|---------------------------------------------------------------
*/

.nav-sub ul li.menu_category {
	padding: 0 5px 0 0;
	font-weight: bold;
	font-size: 120%;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	color: #444;
}

.loader { height: 60px; }
/*
|---------------------------------------------------------------
| LINKS
|---------------------------------------------------------------
*/
a.delete {
	color: #bbb;
	border: none;
}
a.delete:hover { color: #c00; }

.upload-close {
	color: #c00 important;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.upload-close:hover {
	background: #c00 !important;
	color: #fff !important;
}

/*
|---------------------------------------------------------------
| TABLES
|---------------------------------------------------------------
*/

table { font-size: 100%; }

/*
|---------------------------------------------------------------
| COMMENTS & NOTES
|---------------------------------------------------------------
*/
.info-full, #notes {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

/*
|---------------------------------------------------------------
| LIST STYLES
|---------------------------------------------------------------
*/

#list-grid { list-style-type: none; }

#list li, #list-grid li {
	font-weight: bold;
	font-size: 90%;
}

/*
|---------------------------------------------------------------
| MISC
|---------------------------------------------------------------
*/

.alt { background-color: #f3f3f3; }

.activity-border { border-right: 1px solid #ddd; }

/*
|---------------------------------------------------------------
| ACP PANEL STYLES
|---------------------------------------------------------------
*/
#acp-panel {
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #f8f8f8;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.panel {
	background: #fcfcfc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	-moz-border-radius: 0 3px 0 3px;
	border-radius: 0 3px 0 3px;
}
#panelmenu { list-style: none; }
#panelmenu li a {
	text-decoration: none;
	font-weight: bold;
	border-bottom: none;
}
#panelmenu li a span {
	color: #888;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-right: 1px solid #ccc;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
#panelmenu li a:hover span {
	border-top-color: #a1aefc;
	border-bottom-color: #a1aefc;
	color: #0558c7;
	background: #fefae5;
	background: -moz-linear-gradient(top, #fefae5 0%, #d0d8fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefae5), color-stop(100%,#d0d8fd));
	background: -webkit-linear-gradient(top, #fefae5 0%,#d0d8fd 100%);
	background: -o-linear-gradient(top, #fefae5 0%,#d0d8fd 100%);
	background: -ms-linear-gradient(top, #fefae5 0%,#d0d8fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefae5', endColorstr='#d0d8fd',GradientType=0 );
	background: linear-gradient(top, #fefae5 0%,#d0d8fd 100%);
}
#panelmenu li a.active span {
	background: #fcfcfc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #fcfcfc;
	color: #587498;
}
#panelmenu li a.active:hover span {
	color: #4a6440;
	border-right: 1px solid #fcfcfc;
}

#online {
	background: #f8f8f8;
	border: 1px solid #ccc;
	border-top: none;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.count {
	font-weight: bold;
	font-size: 90%;
	-moz-border-radius: 12px;
	border-radius: 12px 12px 12px 12px;
}

table.acp {
	font-size: 110%;
	border: 1px solid #ccc;
}
.col1 {
	font-size: 125%;
	text-align: right;
	font-weight: bold;
}
.col2 {
	font-size: 90%;
	font-weight: bold;
}

/**
 * Sub-Tabs
 */
.subtabs {
	position: relative;
	padding: .2em;
	zoom: 1;
}

.subtabs .ui-tabs-nav {
	margin: 0;
	padding: 6px 6px 7px 6px;
	border: 1px solid #aaacb0;
	background: #e9eaea;
	background: -moz-linear-gradient(top, #e9eaea 0%, #babbbf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9eaea), color-stop(100%,#babbbf));
	background: -webkit-linear-gradient(top, #e9eaea 0%,#babbbf 100%);
	background: -o-linear-gradient(top, #e9eaea 0%,#babbbf 100%);
	background: -ms-linear-gradient(top, #e9eaea 0%,#babbbf 100%);
	background: linear-gradient(top, #e9eaea 0%,#babbbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9eaea', endColorstr='#babbbf',GradientType=0 );
	-moz-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
.subtabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	border-bottom: 0 !important;
	white-space: nowrap;
}
.subtabs .ui-tabs-nav li a {
	float: left;
	padding: 0 1em;
	color: #888;
	border: 1px solid #8f9091;
	border-left: none;
	font-size: .9em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #cccdce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccdce));
	background: -webkit-linear-gradient(top, #ffffff 0%,#cccdce 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#cccdce 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#cccdce 100%);
	background: linear-gradient(top, #ffffff 0%,#cccdce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccdce',GradientType=0 );
	-moz-border-radius: 0px;
	border-radius: 0px 0px 0px 0px;
	-moz-box-shadow: 0 1px 0 #d0d1d4;
	-webkit-box-shadow: 0 1px 0 #d0d1d4;
	box-shadow: 0 1px 0 #d0d1d4;
}
.subtabs .ui-tabs-nav li:first-child a {
	border-left: 1px solid #8f9091;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.subtabs .ui-tabs-nav li:last-child a {
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.subtabs .ui-tabs-nav li a:hover {
	border-color: #8f9091;
	color: #666;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	background: #ffffff;
	background: -moz-linear-gradient(top, #d9d9d9 0%, #b9b9b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccdce));
	background: -webkit-linear-gradient(top, #ffffff 0%,#cccdce 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#cccdce 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#cccdce 100%);
	background: linear-gradient(top, #ffffff 0%,#cccdce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccdce',GradientType=0 );
}

.subtabs .ui-tabs-nav li.ui-tabs-selected a {
	border-color: #68686b;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	background: #939496;
	-moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, .2), inset 0 0 10px rgba(0, 0, 0, .2), 0 1px 0 #d0d1d4;
	-webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, .2), inset 0 0 10px rgba(0, 0, 0, .2), 0 1px 0 #d0d1d4;
	box-shadow: inset 0 1px 10px rgba(0, 0, 0, .2), inset 0 0 10px rgba(0, 0, 0, .2), 0 1px 0 #d0d1d4;
}
.subtabs .ui-tabs-nav li:first-child.ui-tabs-selected a {
	border-left: 1px solid #68686b;
}

.subtabs .ui-tabs-nav li.ui-tabs-selected a,
.subtabs .ui-tabs-nav li.ui-state-disabled a,
.subtabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }

.subtabs .ui-tabs-nav li a,
.subtabs .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }

.subtabs .ui-tabs-panel {
	display: block;
	padding: .5em;
	clear: left;
	border-width: 0;
    background: #fcfcfc;
}

.subtabs .ui-tabs-hide { display: none !important; }